
@{
    ViewBag.Title = "Index";
}
<link href="~/WebCompontent/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/WebCompontent/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" />
<link href="~/WebCompontent/ui-grid/ui-grid.min.css" rel="stylesheet" />

<script src="http://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
@*<script src="~/WebCompontent/jQuery-3.1.1.min.js"></script>*@
<script src="~/WebCompontent/bootstrap/js/bootstrap.min.js"></script>
<script src="~/WebCompontent/angularjs-1.2.32.min.js"></script>
<script src="~/WebCompontent/ui-grid/ui-grid.min.js"></script>

<style type="text/css">
    .gridStyle {
        border: 1px solid rgb(212,212,212);
    }
</style>

<div class="row" ng-app="myApp" ng-controller="MyCtrl">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Basic Example
            </div>
            <div class="panel-body">
                <div class="gridStyle" ui-grid="gridOptions"></div>
                @*{{abc}}*@
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var app = angular.module('myApp', ['ui.grid']); //
    app.controller('MyCtrl', function ($scope) {
        $scope.myData = [{ name: "Moroni", age: 50 },
                         { name: "Tiancum", age: 43 },
                         { name: "Jacob", age: 27 },
                         { name: "Nephi", age: 29 },
                         { name: "Enos", age: 34 }];
        //$scope.ColumnDefine = [{ field: 'name', displayName: 'Name' }, { field: 'age', displayName: 'Age' }];
        $scope.gridOptions = {
            data: 'myData',
            columnDefs: [{ field: 'name', displayName: 'Name' }, { field: 'age', displayName: 'Age' }]
        };
        //$scope.abc = "111111"
    });
</script>


